*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

.flex {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.gridCenter {
  display: grid;
  place-content: center;
}

:root {
  --accent-primary: ;
  --accent-secondary: ;
  --light: rgb(241, 241, 241);
  --dark: rgb(29, 29, 29);
}