nav {
  justify-content: space-between;
  align-items: center;
  min-height: 3vw;
  width: 100%;
  padding: 15px 45px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transition: padding 0.5s ease;
}

nav.homePath {
  padding: 20px 95px 35px;
  padding: 20px 95px;
}

/* --------------------------- logo --------------------------- */

nav .navLogo {
  position: relative;
  background: none;
  border: none;
  /* height: 5rem; */
  /* width: auto; */
}

nav .navLogo #logo {
  position: relative;
  height: 3.5rem;
  width: auto;
  z-index: 15;
  transition: height 0.5s ease;
}

nav.homePath .navLogo #logo {
  height: 4rem;
}

/* nav .navLogo::before {
  position: absolute;
  content: "";
  left: 2rem;
  top: -5rem;
  top: -0.5rem;
  opacity: 0;
  height: 7rem;
  width: 17rem;
  background-image: url(/paintsplashturq1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: all 1s ease
}

nav.homePath .navLogo:hover::before {
  left: 2rem;
  opacity: 0.8;
} */

/* nav .navLogo::before,
nav .navLogo::after {
  position: absolute;
  content: "";
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-image: url(/kier-in-sight-archives-shLU6SZfIQY-unsplash.jpg);
  mask-repeat: no-repeat;
  transition: all 0.1s ease-in;
}

nav .navLogo::after {
  mask-image: url(/largerPaintSplash.svg);
  mask-position: 20% 50%;
  mask-size: 50%;
  transform: scale(0.8);
}

nav .navLogo::before {
  mask-image: url(/smallerPaintSplash.svg);
  mask-position: 70% 10%;
  mask-size: 20%;
  transform: scale(0.9) translate(0.5rem, 0.2rem);
}

nav .navLogo:hover::after,
nav .navLogo:hover::before {
  opacity: 0.8;
  transform: scale(1);
} */

/* --------------------------- navigation --------------------------- */

nav .navigation {
  align-items: center;
}

/* ------------- items -------------- */

nav .navigation .menuItems {
  /* gap: clamp(2rem, 2vw, 8rem); */
  gap: 1rem;
  gap: 0;
  /* width: 36vw; */
  justify-content: space-evenly;
  margin-right: 4rem;
  margin-right: 2rem;
}

nav .navigation .menuItems a.active {
  color: rgb(177, 177, 177);
}

/* ------------- icons -------------- */

nav .navigation .socialIcons {
  align-items: center;
  gap: 0.5rem;
  margin: 0 1rem 0 4rem;
}

nav .navigation .socialIcons #instagramIcon {
  width: 20px;
  height: 20px;
  /* width: 28px;
  height: 28px; */
  transition: fill 1s cubic-bezier(0.38, -0.05, 0.51, 0.41);
  transition: fill 1s cubic-bezier(0.23, 0.01, 0.51, 0.41);
  transition: fill 0.5s cubic-bezier(0.18, 0, 0.21, 0.21);
}
nav .navigation .socialIcons #gokIcon {
  width: 32px;
  height: 32px;
  transition: fill 1s;
}

nav .navigation .socialIcons a:hover #instagramIcon,
nav .navigation .socialIcons a:hover #gokIcon {
  fill: rgb(5, 75, 103);
  fill: white;
  fill: rgb(177, 177, 177);
  z-index: 10;
}

nav .navigation .socialIcons a {
  position: relative;
  padding: 2px;
  border-radius: 10rem;
  /* border: 10px solid rgb(5, 75, 103); */
  /* box-shadow: 0 0 5px 1px rgba(70, 70, 70, 0.356); */
  /* transition: transform 0.5s ease-in, box-shadow 1s ease; */
  transition: transform 0.5s ease-in;
}

/* .navigation .socialIcons a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-radius: 5px;
  border-radius: 10rem;
  background-color: rgb(5, 75, 103);
  transition: width 1s, height 1s,
    opacity 0.5s cubic-bezier(0.72, 0.1, 0.51, 0.41);
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation .socialIcons a:hover::after {
  width: 40px;
  height: 40px;
  opacity: 1;
}

.navigation .socialIcons a.instagram {
  padding: 10px;
} */

/* .navigation .socialIcons a:hover {
  transform: scale(1.1);
} */
